.admin-name[data-v-45b7c205]{font-size:14px;color:#666}.el-menu-item.is-active[data-v-45b7c205]{background:linear-gradient(90deg,rgba(232,182,134,.1) 0%,transparent 100%);border-right:3px solid #E8B686}
